@model PetModel
@{
    ViewData["Title"] = "Editar Pets";
}

<div class="text-center">

    <h1 class="display-4">Editar Pets</h1>
        
</div>

<form asp-controller="Pet" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Pet">
    </div>

    <div class="form-group">
        <label for="raca">Raça</label>
        <input type="text" asp-for="Raca" class="form-control" placeholder="Digite a raça do Pet">
    </div>

    <div class="form-group">
        <label for="genero">Gênero</label>
        <input type="text" asp-for="Genero" class="form-control" placeholder="Digite o gênero do Pet">
    </div>

    <br />

    <div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
        <a role="button" class="btn btn-secondary" asp-controller="Pet" asp-action="Index">Voltar</a>

    </div>

</form>
